@font-face {
	font-family             : 'Raleway';
	src                     : url('Raleway.ttf');
}
*{
	font-family             : 'Raleway';
}
/* corps de page */
body{
    margin: 0px;
    padding: 0px;
}
.bloc_page{
    margin: 10px 200px 10px 200px ;
    padding: 0px;
}

/* SECTION ENTETE */
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-lien{
    margin-right: auto;
}
.navig1 a{
    margin-right: 2.5em;
    text-decoration: none;
}
.nav-lien{
    color: #0065FC;
    border-top: 0.188em solid #0065FC;
    padding: 1.438em 0em 0.188em 0em;
}
.nav-lien1{
    color: black;
    padding: 1.438em 0em 0.188em 0em;
}
.nav-lien1:hover{
    border-top: 0.188em solid #0065FC;
    padding: 1.438em 0em 0.188em 0em;
}
.nav-lien2{
    color: #0065FC;
    font-weight: bolder;
    text-decoration: none;
    
}
.navigation--titre{
    display: flex;
    flex-direction: column;
}
/* SECTION RECHERCHES ET FILTRES */
.barre2rech{
    display: inline-flex;
    max-width: 100%;
    /*overflow: auto;*/
}

.barre2rech--icon{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem; /* permet de determiner la marge interne du bouton*/
    border-radius: 1rem 0 0 1rem;/* permet d'arrondir les angles de la bordure*/
    text-align: center;
}

.barre2rech--icon2{
    margin-left: 0.1rem; /* ajuste la marge gauche de l'icone pour la centrer */
}

.barre2rech--input{/* mise en forme de la partie input 'texte a rentrer pour la recherche' */
    border-right: none;/* efface bordure gauche et droite */ 
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
}
.barre2rech--input::placeholder{ 
    color: #00000069;
    font-weight: bold;/* couleur du texte pré rentré dans le champs */
}

.barre2rech--clic{ /* mise en forme de la partie clic pour valider le champs entré*/
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none; /* sans bordure*/
    border-radius: 0 1rem 1rem 0; 
    padding: 0 1.5rem; 
}
.recherche{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: /*13em*/auto;
}
.searchbox{
    margin-bottom: 0.313em;
}
button{
    background-color: white;
    border-radius: 15% / 55%;
    color: #0065FC;
}
.icolor i{
    color: #0065FC;

}
.filtre,
.filtre--icon{
    display: flex;
    flex-flow: wrap;
    align-items: center;
}
.icon--text{
    margin-left: 2.5em;
}
.filtre--text{
    padding: 0em 0.938em 0em 0.938em;
    
}
.icon--border{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:2px solid transparent;
    background-color: #F2F2F2;
    border-radius: 100%;
    height: 2.5em;
    width: 2.5em;
    
}
.icon{
    color: #0065FC;
}
.icon--text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bolder;
    border:0.125em solid #F2F2F2;
    border-radius: 1.625em 1.563em 1.563em 1.625em;
    height: 2.5em;
    width: auto;    
}
.info--align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info--border{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:2px solid #F2F2F2;
    border-radius: 100%;
    height: 1.875em;
    width: 1.875em;
}
.info{
    color: #0065FC;
    font-size: 0.625em;
}
/* SECTION HEBERGEMENTS A MARSEILLE */ 
.hebpop{
    display: flex;
    justify-content: space-between;
    
}
.hebergements{
    display: flex;
    flex-flow: column;
    background-color: #F2F2F2;
    border-radius: 0.8em;
    width: 68%;
}
.hebergements h2{
    margin-left: 1.563em;
}
.hebergements .affich{
    margin-left: 1.563em;
    margin-bottom: 1.6em;
}
.hebergements--pix{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    

}
.hebergements i{
    color: #0065FC;
    font-size: 0.7em;
}
.m1{
    display: flex;
    flex-flow: column;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 0.8em;
    box-shadow: 0.188em 0.188em 0.188em 0.188em grey;
    width: 16.25em;
    height: 12.625em;
}
.m1 img{
    margin-top : 0.25em;
    margin-left: 0.25em;
    width: 15.625em;
    height: 7.5em;
    border-radius: 0.8em 0.8em 0em 0em;
    border: 0.063em solid white ;
}
.m1 p{
    margin-left: 0.25em;
}


/* SECTION LES PLUS POPULAIRES*/
.tetpop{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.popular{
    display: flex;
    flex-direction: column;
    
    border-radius: 0.8em;
    background-color:#F2F2F2;
    width: 28%;
}
.pop1 i{
    color: #0065FC;
    font-size: 0.625em;
    margin-top: 0.25em;
}

.pop1{
    display: flex;
    flex-flow: wrap;
    margin: auto;
    
    background-color: white;
    border-radius: 0.8em;
    box-shadow: 0.188em 0.188em 0.188em 0.188em grey;
    width: auto;
    height: /*8.125em*/auto;
    
}
.pop1 p{
    padding-right: 3em;
}
.pop1 img{
    display: flex;
    margin-top : 0.25em;
    margin-left: 0.25em;
    margin-bottom: 0.25em;
    width: 7.5em;
    height: 7.5em;
    border-radius: 0.8em 0em 0em 0.8em;
    border: 0.063em solid white ;
    
}
/* PARTIE ACTIVITES A MARSEILLE*/
.Activites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}
.activites--img{
    display: flex;
    justify-content: space-between;

}
.pic{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.act1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: white;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
    box-shadow: 3px 3px 3px 3px #F2F2F2;
    width: auto;
    height: auto;
    
}
.act1 p,
.act2 p,
.act3 p{
    margin-left: 0.5em;
}
.act1 img{
    margin-top: 0em;
    width: 19em;
    height: 25em;
    border-radius: 0.375em 0.375em 0em 0em;
    border: 1px solid white ;
}
.act2{
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
    box-shadow: 0.188em 0.188em 0.188em 0.188em #F2F2F2;
    width: auto;
    height: auto;
}
.act2 img{
    margin-top: 0em;
    width: 19em;
    height: 12em;
    border-radius: 0.375em 0.375em 0em 0em;
    border: 0.063em solid white ;
}
.act3{
    display: flex;
    flex-flow: column;

    background-color: white;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
    box-shadow: 0.188em 0.188em 0.188em 0.188em #F2F2F2;
    width: auto;
    height: auto;
}
.act3 img{
    margin-top: 0em;
    width: 19em;
    height: 7.5em;
    border-radius: 0.375em 0.375em 0em 0em;
    
    border: 0.063em solid white ;
}
footer{
    display: flex;
    
    
    background-color:#F2F2F2;
}
footer ul{
    list-style-type: none;
    margin-left: 10em;
}
/* MEDIA QUERIES */
@media screen and (max-width: 820px){
    .bloc_page{
        width: auto;
    }
    /* SECTION ENTETE */
    header{
        display: flex;
        flex-flow: wrap;
    }
    .logo-lien{
        order: 0;
        
    }
    .nav-lien2{
        order: 1;

    }
    .navig1{
        order: 2;
        width: 100%;
        display: flex;
        
    }
    .navig1 a{
        margin-right: 0em;
    }
    .nav-lien{
        width: 50%;
        border-top: none;
        border-bottom:3px solid #0065FC;
        display: flex;
        justify-content: center;
    }
    .nav-lien1{
        width: 50%;
        border-top: none;
        border-bottom:3px solid #F2F2F2;
        display: flex;
        justify-content: center;
    }
    .nav-lien1:hover{
        border-top: none;
    }
/* SECTION RECHERCHES ET FILTRES */
    .barre2rech--Text{
        display: none;
    }
    .filtre{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .filtre--icon{
        display: flex;
        flex-flow: wrap;
        align-items: center;
    }
    .icon--text{
        margin-bottom: 0.5em;
    }
/* SECTION POPULAIRE ET HEBERGEMENT */
    .hebpop{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;    
    }
    .popular{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: auto;
    }
    .pop1{
        display: flex;
        flex-flow: wrap;
        padding:0.5em 0.5em 0.5em 0.5em ;
        margin:0.5em 0.5em 0.5em 0.5em ;
    }
    .hebergements{
        display: flex;
        flex-flow: column;
        width: auto;
        background-color: white;
        width: 100%;
    }
    .m1{
        
        width: auto;
    }
    .m1 img{
        margin-right: 0.25em;
        width: 98%;
        
    }
    .Activites{
        width: auto;
    }
    .activites--img{
        display: flex;
        flex-direction: column;
        
        width: auto;
        height: auto;
    
    }
    .act1{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .act1 img{
        width: 99%;
        height: 11em;
        
    }
    .act2{
        width: auto;
    }
    .act2 img{
        width: 99%;
    }
    .act3{
        width: auto;
    }
    .act3 img{
        width: 99%;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
}