@font-face {
	font-family             : 'Raleway';
	src                     : url('Raleway.ttf');
}
*{
	font-family             : 'Raleway';
}
/* corps de page */
body{
    margin: 0px;
    padding: 0px;
}
.bloc_page{
    margin: 10px 200px 10px 200px ;
    padding: 0px;
}
/* SECTION ENTETE */
header{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 1.25em;
}
.navig1 ul{
    display: flex; /* permet aux elements de l'UL de s'aligner*/
    list-style-type: none;/* eleveve les points de ma listes a puces */
}
.navig1 li{
    margin-right: 1.6em;
}
.styl1 a{
    color: #0065FC;
    border-top: 0.188em solid #0065FC;
    padding: 1.438em 0em 0.188em 0em;
    text-decoration: none;
}
.styl2 a{
    color: black;
    padding: 1.438em 0em 0.188em 0em;
    text-decoration: none;
}
.navig1 a:hover{
    color: #0065FC;
    border-top: 0.188em solid #0065FC;
}

.styl3{
    color: #0065FC;
}
/* SECTION RECHERCHES ET FILTRES */
.barre2rech{
    display: inline-flex;
    max-width: 100%;
    /*overflow: auto;*/
}

.barre2rech--icon{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem; /* permet de determiner la marge interne du bouton*/
    border-radius: 1rem 0 0 1rem;/* permet d'arrondir les angles de la bordure*/
    text-align: center;
}

.barre2rech--icon2{
    margin-left: 0.1rem; /* ajuste la marge gauche de l'icone pour la centrer */
}

.barre2rech--input{/* mise en forme de la partie input 'texte a rentrer pour la recherche' */
    border-right: none;/* efface bordure gauche et droite */ 
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
}
.barre2rech--input::placeholder{ 
    color: #00000069;/* couleur du texte pré rentré dans le champs */
}

.barre2rech--clic{ /* mise en forme de la partie clic pour valider le champs entré*/
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none; /* sans bordure*/
    border-radius: 0 1rem 1rem 0; 
    padding: 0 1.5rem; 
}
.recherche{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 13em;
}
.searchbox{
    margin-bottom: 0.313em;
}
button{
    background-color: white;
    border-radius: 15% / 55%;
    color: #0065FC;
}
.icolor i{
    color: #0065FC;

}
.filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    width: 70%;

}
.filtre--text{
    padding: 0px 15px 0px 15px;
}
.icon--border{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:2px solid transparent;
    background-color: #F2F2F2;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    
}
.icon{
    color: #0065FC;
}
.icon--text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bolder;
    border:2px solid #F2F2F2;
    border-radius: 26px 25px 25px 26px;
    height: 40px;
    width: auto;    
}
.info--align{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info--border{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:2px solid #F2F2F2;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
.info{
    color: #0065FC;
    font-size: 10px;
}
/* SECTION HEBERGEMENTS A MARSEILLE */ 
.hebpop{
    display: flex;
    justify-content: space-between;    
}
.hebergements{
    display: flex;
    flex-flow: column;
    background-color: #F2F2F2;
    border-radius: 0.8em;
    width: 68%;
}
.hebergements--pix{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    

}
.hebergements i{
    color: #0065FC;
    font-size: 0.7em;
}
.m1{
    display: flex;
    flex-flow: column;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 0.8em;
    box-shadow: 0.188em 0.188em 0.188em 0.188em grey;
    width: 16.25em;
    height: 12.625em;
    
}
.m1 img{
    margin-top : 0.25em;
    margin-left: 0.25em;
    width: 15.625em;
    height: 7.5em;
    border-radius: 0.8em 0.8em 0em 0em;
    border: 0.063em solid white ;
    
}
.m1 p{
    margin-left: 0.25em;
}

/* SECTION LES PLUS POPULAIRES*/
.tetpop{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.popular{
    display: flex;
    flex-direction: column;
    
    border-radius: 0.8em;
    background-color:#F2F2F2;
    width: 28%;
}
.pop1 i{
    color: #0065FC;
    font-size: 0.625em;    
}

.pop1{
    display: flex;
    margin: auto;
    
    background-color: white;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
    box-shadow: 0.188em 0.188em 0.188em 0.188em grey;
    width: 20em;
    height: 8.125em;
    
}
.pop1 img{
    display: flex;
    margin-top : 0.25em;
    margin-left: 0.25em;
    width: 7.5em;
    height: 7.5em;
    border-radius: 0.375em 0.375em 0em 0em;
    border: 0.063em solid white ;
    
}
/* PARTIE ACTIVITES A MARSEILLE*/
.titleact{
    display: inline;
    position: relative;
    width: 100%;
}
.Activites{
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    
}
/*.left 
{
    display: flex;
    
    justify-content: space-between;
    width: 48%;
}
.right
{
    display: flex;
    
    justify-content: space-between;
    width: 48%;
}*/
.pic{
    display: flex;
    flex-flow: column;
}
.act1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
    box-shadow: 3px 3px 3px 3px #F2F2F2;
    width: 15.75em;
    height: 26.875em;
    
}
.act1 img{
    width: 15.625em;
    height: 25em;
    border-radius: 0.375em 0.375em 0em 0em;
    border: 1px solid white ;
}
.act2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
    box-shadow: 0.188em 0.188em 0.188em 0.188em #F2F2F2;
    width: 15.75em;
    height: 15.625em;
}
.act2 img{
    width: 15.625em;
    height: 12em;
    border-radius: 0.375em 0.375em 0em 0em;
    border: 0.063em solid white ;
}
.act3{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 0.375em 0.375em 0.375em 0.375em;
    box-shadow: 0.188em 0.188em 0.188em 0.188em #F2F2F2;
    width: 15.75em;
    height: 9.375em;
}
.act3 img{

    width: 15.625em;
    height: 7.5em;
    border-radius: 0.375em 0.375em 0em 0em;
    
    border: 0.063em solid white ;
}
footer{
    display: flex;
    
    justify-content: space-around;
    
    background-color:#F2F2F2;
}
footer ul{
    list-style-type: none;
}
.foot{
    width: 25%;
}